@model billsapp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>
                <h2 class="panel-title">Change Account Settings</h2>
            </header>
            <div class="panel-body">
                <section id="account-management">
                    @using (Ajax.BeginForm("ChangeThemeColor", null, new AjaxOptions {
                        HttpMethod = "POST",
                        UpdateTargetId = "theme-color-form-group",
                        OnBegin = "$('#apply-theme-color-btn').toggleClass('active').prop('disabled', true);",
                        OnComplete = "$('#apply-theme-color-btn').toggleClass('active').prop('disabled', false);" + "$(document).ready(function () { StyleValidationErrors(); });"
                    }, new { id = "themeColorForm", @class = "form-horizontal" }))
                    {
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        <p class="text-success">@ViewBag.StatusMessage</p>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-6" style="padding-top:7px;">
                                [
                                @if (Model.HasPassword) {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </div>
                        </div>
                        
                        @*<div id="theme-color-form-group" class="form-group">
                            @{
                                Html.RenderPartial("_ThemeColorFormGroup", this.Model);
                            }
                        </div>*@

                        @*<div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <button id="apply-theme-color-btn" type="submit" class="btn btn-primary has-spinner">
                                    <span class="spinner">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span> Apply
                                </button>
                            </div>
                        </div>*@
                        <br />
                    }
                </section>
            </div>
        </section>
    </div>
</div>
