@model billsapp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>
                <h2 class="panel-title">Change Account Settings</h2>
            </header>
            <div class="panel-body">
                <section id="account-management">
                    <p class="text-success">@ViewBag.StatusMessage</p>

                    <div class="form-group">
                        <label for="theme-color-input" class="col-md-2 control-label">Theme Color</label>
                        <div class="col-md-5">
                            <div class="input-group color" data-plugin-colorpicker data-format="hex">
                                <span class="input-group-addon"><i></i></span>
                                <input id="theme-color-input" type="text" class="form-control" value="@Model.ThemeColor">
                            </div>
                        </div>
                        <button id="applyThemeColorButton" class="btn btn-primary">Apply </button>

                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
