@model billsapp.Models.SessionPayersViewModel

@{
    ViewBag.Title = "Session Details";
}

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>
                <h2 class="panel-title">...session square up table...</h2>
            </header>
            <div class="panel-body">
                <section id="loginForm">
                    
                </section>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel panel-default">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>
                <h2 class="panel-title">...a payer's portlet...</h2>
            </header>
            <div class="panel-body">
                <section id="loginForm"></section>
            </div>
        </section>
    </div>
</div>

@section Scripts {

}