/* Add here all your CSS customizations */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
	background-color: transparent !important;
	padding-left: 0px !important;
	padding-top: 0px;
	margin-bottom: 0px;
}

/* Fix Nanoscroller by setting .nano to absolute (like .nano-content)
  !important is required or theme.css will win with position: relative;
  even though load order is correct. */
.nano {
	position: absolute !important;
}

/* GitHub Activity Feed layout clean-up and response */
.gha-header {
	width: 100%;
	margin-left: -1px;
  height: 83px;
}

.gha-footer {
	width: 100%;
	margin-left: -1px;
	padding-bottom: 30px;
}

.gha-push-small {
	padding-bottom: 33px;
}

.gha-activity {
  padding-right: 15px;
}

@media only screen and (max-width: 415px) {
  .gha-gravatar, .octicon, .gha-activity-icon {
    display: none;
  }
  
  .gha-activity {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 345px) {
  .gha-user-info, .gha-header, .gha-push {
    display: none;
  }
}

/* Fix padding when chevron to open right side menu is disabled */
.breadcrumbs li:last-of-type span {
	padding-right: 15px;
}

/* Adjust modals */
.modal-text {
  padding-right: 25px;
}

/* Validation class name override from "validation-message" to "validation-summary-errors"
  (because .NET writes different error divs than the theme) */
div.validation-summary-errors ul {
  /*display: none;*/
  list-style: none;
  margin: -15px -15px 15px -15px;
  padding: 15px;
  border-bottom: 1px solid #FFCBCB;
  background: #FFEFEF;
}

div.validation-summary-errors ul label.error {
  display: block;
  padding-left: 22px;
  position: relative;
}

div.validation-summary-errors ul label.error:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #D9534F;
  display: inline-block;
}

#setup-wizard-tab-content {
  padding-left: 0px;
  padding-right: 0px;
}

/* Override location of octicons fonts in octicons.css 
  and font-awesome fonts in font-awesome.css */
@font-face {
  font-family: 'octicons';
  src: url('/assets/vendor/github-activity/octicons/octicons.eot?#iefix') format('embedded-opentype'),
       url('/assets/vendor/github-activity/octicons/octicons.woff') format('woff'),
       url('/assets/vendor/github-activity/octicons/octicons.ttf') format('truetype'),
       url('/assets/vendor/github-activity/octicons/octicons.svg#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), 
       url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), 
       url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), 
       url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), 
       url('/assets/vendor/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}