/* Add here all your CSS customizations */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.jumbotron {
	background-color: transparent !important;
}*/

/* Fix Nanoscroller by setting .nano to absolute (like .nano-content)
   !important is required or theme.css will win with position: relative;
   even though load order is correct. */
.nano {
	position: absolute !important;
}